/* Importaciones de fuentes */ 
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Regular.woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff2');
}
/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
  .hero img {
    height: 381px;
    width: 341px;
  }

  .contact-links{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-links ul {
    margin-top: 0; 
  }

  .contact-links img {
    width: 340px;
    height: 319px;
  }

  .skills-container {
    padding: 24px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .languageBtn {
    margin-top: 10px;
    justify-content: center;
  }

  .languageToggle {
    margin-right: 0;
    height: 48px;
  }
  footer {
    text-align: center;
  }
}


/* Estilos generales */
:root {
  --main-color: #68A063;
  --background-dark: #303030;
  --background-light: #444;
  --text-color: #f8faf4;
}


* {
  color: var(--main-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace; 
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
}


body {
  background: rgb(48,48,48);
  background: linear-gradient(180deg, rgba(48,48,48,1) 32%, rgba(79,79,79,1) 66%, rgb(59, 59, 59) 100%);
}

/*BARRA SCROLL*/
.container {
  background: #9994;
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  width: 0;
  height: 100%;
  box-shadow: 0 0 5px var(--background-light);
  background: var(--main-color);
}

@keyframes resize {
  from { width: 0% }
  to { width: 100% }
}

.bar {
  animation: resize auto linear forwards;
  animation-timeline: scroll(root block);
}

/* Encabezado */
header {
  padding: 10px;
  text-align: center;
}

nav {
  padding: 5px;
  text-align: center;
  display: flex; 
  justify-content: space-between; 
}


nav ul {
  list-style: none;
  display: flex; 
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
  color: #b3cfb0;
}

nav li a {
  text-decoration: none;
  transition: underline 0.2s;
}
 /* INICIO */

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

#inicio h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

#inicio h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 25px;
  color: #b3cfb0;
}

.typewriter{
  margin: 0 auto;
  font-size: 180%; 
}

#sobre-mi{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#sobre-mi h2{
  font-size: 32px;
  margin-bottom: 40px;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}


.hero p {
    margin: 20px 0; /* Margen arriba y abajo */
    padding: 10px;  /* Espaciado interno */
    line-height: 1.5;
    width: 400px;
    text-align: left;
    font-size: 17px;
}

/*-----------------PROYECTOS------------------------*/
#proyectos {
  background-color: var(--background-dark);
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center; /* Añadido para centrar el contenido en cada div */
}

#proyectos h2 {
  font-size: 32px;
  margin-bottom: 20px; /* Añadido para ajustar el espacio bajo el h2 */
  color: var(--main-color);
}

#proyectos div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.proyectos div {
  width: 400px;
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 8px;
}

.descripcion {
  font-size: 15px;
  line-height: 1.6;
}


.equipo {
  color: var(--main-color);
  font-weight: bold;
}

.proyecto-nombre {
  color: var(--main-color);
  font-weight: bold;
}

/*----------Tecnologias y Habilidades-----------*/
#tecnologias-habilidades {
  padding: 80px 0;
  text-align: center;
}

.tecnologias ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.tecnologias li {
  list-style: none;
  color: #f8faf4;
}

.tecnologias li svg {
  width: 150px;
}

.contenido {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.svg-tecnologia {
  max-width: 150px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.svg-tecnologia:hover {
  filter: none;
}

/*----------HABILIDADES-----------*/
#skills {
  padding: 80px 0;
  text-align: center;
}

#skills h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 24px;
}

.skills-column {
  flex: 1;
}

.skills-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

.skills-list li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
  color: var(--text-color);
}

.skills-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--main-color);
}

/*------------Contacto--------------*/

#contactos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.contact-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.contact-links {
  display: flex;
  gap: 20px;
}

.contact-links ul {
  list-style: none;
  padding: 0;
  margin-top: 25%;
}

.contact-links li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-links svg {
  width: 32px;
  height: 32px;
}

.contact-links p {
  margin: 0;
}

.contact-links a {
  text-decoration: none;
  transition: underline 0.2s;
  color: #b3cfb0;
  font-weight: bold;
}

.contact-links a:hover {
  text-decoration: underline;
}


/*----------Footer------------*/
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px; 
  background-color: var(--background-light); 
  text-align: center;
}



.languageBtn {
  display: flex;
  align-items: center; 
}

.languageToggle {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 20px; 
}


/* Estilo cuando se pasa el cursor sobre el botón */
.languageToggle:hover {
  background-color: #509451;
  transform: scale(1.05);
}

/* Estilo cuando se presiona el botón */
.languageToggle:active {
  background-color: #406b44;
  transform: scale(0.95);
}
